/**/
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

*{
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        border: 0;
    }
}

body{
    margin: auto;
    font-size: 15px;
    background-color: aliceblue;
    font-family: 'Outfit', sans-serif;
}

.container{
    width: 600px;
    display: flex;
    flex-direction: row;
    margin: 10% auto;
    border-radius: 2rem;
    background-color: hsl(0, 0%, 100%);
    overflow: hidden;


}


.card_inicial{
    width: 100%;
    padding: 32px;
    display: flex;
    flex-direction: column;
    
    
}

<<<<<<< HEAD
.img-card img{
=======
.img-card{

    background-image: url(assets/images/image-qr-code.png);
>>>>>>> 9732034fda5897e4296115922ee329c854170c74
    width: 100%;
    height: 450px;
    border-radius: 1rem;
}

.description{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

}

.text-description{
    gap: 1rem;
    padding:1rem;
}
h1{
    font-size: 32px;
    font-weight:700 ;
    margin: 1rem;
    width: 400px;
    display: flex;
    gap: 1rem;
    
}

p{
    color:  hsl(220, 15%, 55%);
    font-weight: 500;
    width: 300px;
    align-items: center;
    justify-content: center;
   
}


@media screen and (max-width: 374px) {
    .container{
        widows: 300px;
    }
    .img-card{
        widows: 90px;
    }
    .text-description{
       
    }
    p{
        

    }
    
}
<<<<<<< HEAD

=======
>>>>>>> 9732034fda5897e4296115922ee329c854170c74
