/**/
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

*{
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        border: 0;
    }
}

body{
    
    font-size: 15px;
    background-color: aliceblue;
    font-family: 'Outfit', sans-serif;
}

.container{
    width: 500px;
    display: flex;
    flex-direction: row;
    margin: 10% auto;
    border-radius: 2rem;
    background-color: hsl(0, 0%, 100%);
    overflow: hidden;


}


.card_inicial{
    width: 100%;
    margin-top: 1.5rem;
    /* padding: 25px; */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
}

.img-card .img {
    width: 100%;
    height: 450px;
    border-radius: 1rem;
}


.description{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

}

.text-description{
    gap: 1rem;
    padding:1rem;
}
h1{
    font-size: 32px;
    font-weight:700 ;
    margin: 1rem;
    width: 400px;
    display: flex;
    gap: 1rem;
    
}

p{
    color:  hsl(220, 15%, 55%);
    font-weight: 500;
    width: 300px;
    align-items: center;
    justify-content: center;
   
}


@media(max-width: 374px) {
    body{
        width: 350px;
        
    }
    .container{
        width: 80%;
        background-color: hsl(0, 0%, 100%);
        padding: 0 1rem 0 1rem;
    }
    .card_inicial{
    
        padding: 0;
    }
    .img-card .img{
        height: 300px;

    }
    /* .description{
        ta aqui por boas praticas, porem nao temos nada para mudar
    } */
    .text-description{
        padding: 0;
        gap: 0;
        
        
    }

    h1{
        
        width: 250px;
        font-size: 22px;
        margin: 0;
    }

    p{
        width: 15rem; /*250px*/
        padding-bottom: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}
